<form>
	<fieldset>
		<legend>Form Wrapper</legend>
		<table>
			<tr>
				<td>
					<b>Text:</b>
				</td>
				<td>
					<input type='text' placeholder='login'/>
				</td>
			</tr>
			<tr>
				<td>
					<b>Password:</b>
				</td>
				<td>
					<input  type='password' placeholder='password'/>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<label><input  type='checkbox'  />Remember</label>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<label><input  type='radio'  />Yes</label>
					<label><input  type='radio'  />No</label>
				</td>
			</tr>
			<tr>
				<td>
					<b>Textarea</b>
				</td>
				<td>
					<textarea  placeholder='Enter text'></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<b>Select</b>
				</td>
				<td>
					<select >
						<option>One</option>
						<option >Two</option>
						<option>Three</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<b>Multiselect</b>
				</td>
				<td>
					<select multiple="multiple">
						<optgroup label="WAssup">
							<option>One</option>
							<option >Two</option>
						</optgroup>
						<option>Three</option>
						<option>Three</option>
						<option>Three</option>
						<option>Three</option>
						<option>Three</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<b>File</b>
				</td>
				<td>
					<input type='text' />
					<div class='medusa-upload'>
						<div class='medusa-upload-title'>Загрузить файл</div>
							<input type='file' class='medusa-upload-file'/>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type='reset'  />
					<input type='submit' />
				</td>
			</tr>
		</table>
	</fieldset>
</form>